html {
    background: #fff;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 1.63;
    letter-spacing: -0.1px;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

a {
    color: #000;
}
.bold{  
    font-family: 'Open Sans Bold';
    }

*:focus {
	outline: none !important;
}
span.h1{
    font-size: 42px;
    line-height: 1;
    letter-spacing: -0.2px;
    text-align: left;
    color: #000000;
    padding-bottom: 20px;
    display: inline-block;
}
hr.h1{
    width: 170px;
    height: 3px;
    background-color: #008ecf;
    text-align: left;
    border-top: 0px;
    display: block;
    margin: 0px;
}
header{
    height: 222px;
    padding-top: 31px;
}
.logo, .phone, .adress{
    padding:0px;
}
.logo img{
    height: 60px; 
    float: left;
}
.logo span{
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.3px;
    text-align: left;
    color: #464646;
    vertical-align: top;
    padding-top: 10px;
    display: block;
}
.Oval {
    width: 46px;
    height: 46px;
    background-color: #008ecf;
    border-radius: 50%;
    float: left;
}
.Oval img {
    display: block;
    padding-top: 13px;
    margin: 0 auto;
}
.call{
    letter-spacing: -0.2px;
    text-align: left;
    padding-left: 29px;
    display: inline-block;
    margin-top: -8px;
}
.call span{
    font-size: 20px;
    color: #000000;
    display:block;
}
.call span.number{
    font-size: 15px;
    color: #7d7d7d;
}
.top_header{
    height: 83px;
    border-bottom: 1px solid #eeeeee;
}
.navbar{
    margin-bottom: 0px;
}
.navbar-default{
    background: none;
    box-shadow: none;
    border-radius: 0px;
    border:0px;
}
.navbar-collapse{
    padding: 0px;
}
.navbar-default .navbar-nav>li{
   padding: 36px 0px 0px 26px;  
}
.navbar-default .navbar-nav>li>a{
    font-size: 18px;
    letter-spacing: -0.2px;
    color: #7d7d7d;
    line-height: 36px;
    padding: 0px;
}
.navbar-default .navbar-nav>li:first-child{
    padding: 36px 0px 0px 0px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: #000;
    background: none;
    box-shadow: none;
}
button#myBtn{
    float: right;
    position: relative;
    top: -43px;
    width: 169px;
    height: 51px;
    border-radius: 2px;
    background-color: #008ecf;
    font-family: 'Open Sans Bold';
    font-size: 13px;
    letter-spacing: -0.2px;
    color: #ffffff;
    text-transform: uppercase;
    border: 0px;
}
button#myBtn a{
	color: #fff;
	text-decoration: none;
}

/* Banner */
#banner {
   background: url(images/shutterstock-257742649@2x.jpg) no-repeat;
   background-position: 0px -100px;
    background-size: cover;
    height: 667px;
} 
#banner .text{
    padding: 180px 0px 0px 0px;
}
#banner .title{
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.2px;
  text-align: left;
  color: #000000;
}
#banner span{
    display: block;
}
#banner .description{
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: -0.1px;
  text-align: left;
  color: #000000;
  padding-top: 24px;
}
/*Banner*/
/*Slogan*/
#slogan{
  height: 246px;
  background-color: #008ecf;
}
#slogan .logo img{
    width: 171px;
    height: 96px;
    float: left;
    margin-top: 77px;
}
#slogan .text{
    font-size: 42px;
    line-height: 1.24;
    letter-spacing: -0.2px;
    text-align: left;
    color: #ffffff;
    margin-top: 100px;
    display: inline-block;
    padding-left: 46px;
}
/*Slogan*/
/*About*/
#about{
    min-height: 600px;
}
#about .img{   
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 400px;
    background-attachment: fixed;
    background: url(images/shutterstock-588433346.png) no-repeat top right;
    
}
#about .text{
    margin-top: 131px;
	padding-left: 0px;
}
.anonce{
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: -0.1px;
  text-align: left;
  color: #000000;
  margin-top: 20px;
}
/*slogan*/
/*services*/
#services{
	min-height: 550px;
}
#services .item{
    margin-top: 44px;
	padding-bottom: 10px;
}
#services .item .icon {
    text-align: center;
	margin-top: 25px;
}
#services .item .icon.svg {
    height: 80px;
}
#services .icon svg path, #services .icon svg polygon {
	  fill: #008ecf; 
}
#services .item:hover svg path, #services .item:hover svg polygon {
	fill: #fff;
}
#services .item span.name{
    display: block;
    text-align: center;
   font-size: 35px;
   letter-spacing: -0.2px;
   color: #008ecf;
}
#services .item span.description{
      font-size: 16px;
    line-height: 1.63;
    letter-spacing: -0.2px;
    text-align: center;
    color: #7d7d7d;
    padding: 10px 50px;
    display: block;
}
#services .price{
    display: block;
    text-align: center;
}
.price{
	
}
.price .icon{
    width: 46px;
    height: 46px;
    background: url(svg/pdf-white.svg) no-repeat center #008ecf;  
    color: #fff;
    border-radius: 50%;
	text-align: center;
    margin: 0 auto;
	display: block;
}
.price span{
  font-size: 12px;
  color: #7d7d7d;
}
#services .item:hover .price .icon {
	    background: url(svg/pdf.svg) no-repeat center #fff;  
}
#services .price span{
  font-size: 11px;
  line-height: 1.82;
  letter-spacing: -0.1px;
  text-align: center;
  color: #7d7d7d;
}
#services .item:hover{
    background-color: #008ecf;
    color: #fff;
}
#services .item:hover .name, #services .item:hover .description, #services .item:hover .price span{
    color: #fff;
}
/*services*/
/*equipment*/
#equipment {
	min-height: 500px;
    margin-bottom: 80px;
}
#equipment .cont{
	margin-top: 40px;
}
#equipment .tab-content{
	margin-left: 27px;
	margin-top: -10px;
}
#equipment span.name{
  font-size: 24px;
  letter-spacing: -0.3px;
  text-align: left;
  color: #000000;
  display: block;
  margin-bottom: 27px;
}
#equipment .img img{
  width: 90%;
  margin: 0px 29px 29px 0px;
}
#equipment p{
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: -0.2px;
  text-align: left;
  color: #7d7d7d;
}
#equipment .nav-tabs{
   border-bottom: 0px;
   border-right: 1px solid #dfdfe0;
}
.tabbable {
    padding: 0px;
}
.tabbable .nav-tabs>li{
    float:none;
}
#equipment .nav-tabs>li.active>a, #equipment .nav-tabs>li.active>a:focus, #equipment .nav-tabs>li.active>a:hover{
	border: 0px solid #ddd;	
	border-right: 4px solid #008ecf;
	color: #000;
}
#equipment .nav-tabs>li>a:hover{
  	border: 0px solid #ddd;
    background: none;
    color: #000;
}
#equipment .nav-tabs>li>a {
    margin-right: 0px;
    line-height: 1.42857143; 
    border: 0px solid transparent; 
    border-radius: 0px;
	font-size: 22px;
    letter-spacing: -0.2px;
    text-align: left;
    color: #7d7d7d;
    padding-left: 0px;
}
#equipment .img{
    width: 40%;
    float: left;
    display: block;
}
#equipment .text{
    width: 60%;
    float: left;  
}
#equipment .price {
	display: inline-block;
}
#equipment .price .icon{
	float: left;
	margin-right: 9px;
}
#equipment .price span{
  font-size: 12px;
  line-height: 45px;
  letter-spacing: -0.1px;
  text-align: left;
  color: #7d7d7d;
}
/*equipment*/
/*advantages*/
#advantages {
   background: url(images/shutterstock-580910353@2x.jpg) no-repeat;
   background-position: center;
    background-size: cover;
    height: 710px;
}
#advantages .container{
	padding-top: 82px;
}
#advantages .anonce ul{
	padding-top: 70px;
	padding-left: 15px;
}
#advantages .text{
	padding-left: 0px;
}
#advantages .price{
	margin-top: 50px;	
	float: left;
}
#advantages .price .icon{
	float: left;
	margin-right: 9px;
}
#advantages .price span{
  line-height: 45px;
}
/*advantages*/
/*portfolio*/
#portfolio{
	margin-top: 75px;
}
#portfolio .slick-slide{
	height: auto;
}
#portfolio .slider{
	margin-top: 46px;
}
#portfolio .slick-slide img{
	width: 90%;
	margin: 0 auto;
}
#portfolio .slick-prev, #portfolio .slick-next{
	width: 50px;
  	height: 50px;
  	background-color: #eeeeee;
	color: #fff;
	z-index: 1;
}
#portfolio .slick-prev:before { 
	content: "‹"; 
	font-size: 50px;
    line-height: 0; 
}
#portfolio .slick-next:before { 
	content: "›";
	font-size: 50px;
    line-height: 0;
}
#portfolio .slick-prev:hover, #portfolio .slick-next:hover{
	background-color: #008ecf;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.12);
}
#portfolio .slick-prev{
	left: 0px;
}
#portfolio .slick-next {
    right: 0px;
}
#portfolio .slick-slide span.name{
	display: block;
	font-size: 20px;
    letter-spacing: -0.2px;
    text-align: center;
    color: #000000;
	margin-top: 0px;
}
#portfolio .slick-slide span{
  font-size: 15px;
  letter-spacing: -0.2px;
  text-align: center;
  color: #7d7d7d;
  display: block;
}
#portfolio .slick-dots li button:before{
   font-size: 12px;	
   color: #0079b0;
}
#portfolio .slick-dots {
    position: absolute;
    bottom: -40px;
}
/*portfolio*/
/*brands*/
#brands .cont{
	margin-top: 45px;
}
#brands .item {
	padding-left: 0px;
	margin-bottom: 30px;
	cursor: pointer;
}
#brands .item img{
    display: inline-block;
    height: 195px;
    border: 1px solid #ddd;
}
#brands .item:hover img{
box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.15);
}
/*brands*/
/*contacts*/
#contacts{
	background-color: #008ecf;	
}
#contacts .container{
	padding-top: 141px;
}
#contacts span.h1{
	color: #fff;
	margin-top: 0px;
}
#contacts hr.h1 {
	background: #fff;
}
#contacts .left-part{
	padding: 0px;
}
#contacts ul{
	list-style: none;
	padding: 0px;
	margin-top: 60px;
}
#contacts ul li{
	margin-bottom: 31px;
}
#contacts .adress{
	background: url(svg/location-icon.svg) no-repeat 0px 8px;
}
#contacts .phone{
	background: url(svg/phone.svg) no-repeat 0px 0px;
}
#contacts .shedule{
	background: url(svg/time-icon.svg) no-repeat 0px 0px;
}
#contacts .email{
	background: url(svg/mail-icon.svg) no-repeat 0px 4px;
}
#contacts ul li span {
    padding-left: 32px;
    display: block;
    font-size: 16px;
    line-height: 1.31;
    letter-spacing: -0.1px;
    text-align: left;
    color: #ffffff;
}
#contacts .social span{  
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: -0.1px;
  text-align: left;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}
#contacts .social a{
	margin-right: 15px;
}
#contacts form{
	background: #fff;
    padding: 100px;
    border-radius: 2px;
	margin-bottom: 100px;
}
#contacts .form-group{
	padding: 0px;
}
#contacts .form-control{
	width: 95%;
}
#contacts .form-control#phone, #contacts .form-control#email{
	width: 90%;	
}
#contacts .right-part .title{
  font-size: 24px;
  line-height: 1.75;
  letter-spacing: -0.1px;
  text-align: left;
  color: #000000;
  display: block;
}
#contacts .right-part .desc{
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.1px;
  text-align: left;
  color: #7d7d7d;
   margin-bottom: 20px;
   display: block;
}
#contacts .form-group label{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.1px;
  text-align: left;
  color: #7d7d7d;
  font-weight: normal;
  margin: 10px 0px 0px 0px;
}
#contacts .form-group input{
  height: 51px;
  font-size: 14px;
  line-height: 3;
  letter-spacing: -0.1px;
  text-align: left;
  color: #7d7d7d;
  background-color: #f5f5f5;
  border: solid 1px #dfdfe0;
  box-shadow: none;
  border-radius: 2px;
}
#contacts textarea{
  font-size: 14px;
  line-height: 3;
  letter-spacing: -0.1px;
  text-align: left;
  color: #dfdfe0;
}
#contacts form p{
    font-size: 11px;
    line-height: 2.82;
    letter-spacing: -0.1px;
    text-align: left;
    color: #7d7d7d;
    padding: 0px;
    margin: 0px;
}
#contacts button{
  width: 139px;
  height: 51px;
  border-radius: 2px;
  border: solid 2px #008ecf;
  font-size: 13px;
  letter-spacing: -0.2px;
  text-align: center;
  color: #008ecf;
  text-transform: uppercase;
  background: #ffffff;
  text-shadow: none;
}
/*contacts*/
/*footer*/
footer{
  height: 90px;
  background-color: #4c4c4c;
}
footer p{
  font-size: 15px;
  letter-spacing: -0.2px;
  text-align: left;
  color: #dfdfe0;
  padding-top: 35px;
}
.topbutton{
    display: none;
}
@media (max-width: 1200px) {
  .logo span, .call span{
    font-size: 18px;
    }
    .call{
      padding-left: 14px;
      margin-top: 0px;
    }
    .call span.number{
      font-size: 13px;    
    }
    #banner{
        background-position: 0px 0px;
        height: 585px;  
    }
    #banner .text {
    padding: 140px 0px 0px 0px;
    }
    #slogan .text {
    font-size: 40px;
    }
    #about .text {
    margin-top: 49px;
    }
    #brands .item img{
    height: 158px;
    }
    #contacts form{
          padding: 80px;  
    }
}
@media (max-width: 768px) {
     .navbar-default .navbar-toggle{
        position: absolute;
        top: -83px;
        right: 0px;
        border: 0px;
        margin-top: 0px;
         display: block;
    } 
    .navbar.navbar-default .container-fluid{
        padding: 0px;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
        background: none;
    }
    .navbar-nav{
        margin: 0px;
        float: none;
    }
    .navbar-nav>li{
        float: none;
    }
    .navbar-default .navbar-toggle .icon-bar{
         background-color: #008ecf;
        width: 24px;
        height: 4px;
    }
    .navbar-collapse.collapse.in{
        background: #fff;
        z-index: 1;
        position: relative;
        overflow-y: auto;
    }
    .navbar-default .navbar-nav>li:first-child, .navbar-default .navbar-nav>li {
        padding: 0px 25px;
        text-align: center;
    }
    .collapse{
        display: none;
    }

     button#myBtn{
        display: none;
    } 
    header {
    height: 112px;
    }
    .top_header .logo{
        padding: 0px 24px; 
    }
    #banner{
      background: url(images/shutterstock-257742649.jpg) no-repeat;
    }
    #banner .text {
    padding: 140px 0px 0px 24px;
    }
    #slogan .logo{
        padding-left: 24px;
    }
    #slogan .text{
       width: 450px;
       margin-top: 77px;
    }
    #about {
       margin-top: 49px;  
    }
    #about .text{
        padding: 0px 24px;
        margin-top: 0px;
    }
    #services span.h1, #services hr.h1{
        margin: 0px 24px;
    }
    #services .item span.description{
        padding: 10px 10px;
    }
    #equipment{
        padding: 0px 24px;
    }
    #equipment .img, #equipment .text {
        width: 100%;
        float: none;
    }
    #advantages{
        padding: 0px 24px;
    }
     #portfolio span.h1,  #portfolio hr.h1{
        margin: 0px 24px;
    }
    #portfolio .slick-slide img{
        width: 80%;
    }
    #brands{
        padding: 0px 24px;
        margin-top: 55px;
    }
    #brands .item img {
    height: 186px;
    }
    #contacts .container {
    padding: 40px;
    }
    #contacts form{
      margin-bottom: 50px;
    }
    #contacts ul{
     width: 50%;
     float: left;  
    }
    #contacts .social{    
    width: 50%;
    float: left;
    margin-top: 60px;
    }
    footer p{
      padding: 35px 24px 0px;
    }
    .topbutton{
    width:50px;
    height: 50px;
    background: url(icon/top.png) no-repeat #008ecf center center;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:100px; /* отступ кнопки от нижнего края страницы*/
    right:10px;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.12);
    cursor:pointer;
    display:none;
    }
}
@media (max-width: 375px) {
    .navbar-default .navbar-toggle{
        position: absolute;
        top: -46px;
    }
    span.h1 {
    font-size: 32px;
     display: block;
     margin: 0 auto;
     text-align: center;
    }
    hr.h1{
     display: block;
    text-align: center;
      margin: 0 auto;
    }
    header {
        height: 56px;
        padding-top: 10px;
    }
    .top_header {
        height: 46px;
    }
    .logo img {
    height: 36px;
    }
    .logo span{
        font-size: 11px;
        padding-top: 5px;
    }
    #banner{
        height: 380px;
    }
    #banner .title {
    font-size: 32px;
        text-align: center;
    }
    #banner .text{
        padding: 36px 15px 0px 15px;
    }
    #banner .description{
        text-align: center; 
    }
    #slogan .logo{
        padding: 0px 15px 0px 15px;
        text-align: center;
    }
    #slogan .logo img{
        float: none;
        margin-top: 40px;
    }
    #slogan .text{
        width: 320px;
       margin-top: 10px;
        font-size: 22px;
        padding-left: 0px;
        text-align: center;
    }
    #about .img{
        display: none;
    }
    #about .text {
    padding: 0px 15px;
    }
    .anonce{
        text-align: center; 
    }
    #services{
        margin-top: 120px;
    }
    #services span.h1, #services hr.h1{
        margin: 0 auto;
    }
    #services .slick-prev, #services .slick-next, #brands .slick-prev, #brands .slick-next {
    width: 50px;
    height: 50px;
    background-color: #eeeeee;
    color: #fff;
    z-index: 1;
    }
    #services .slick-prev:before, #brands .slick-prev:before  { 
	content: "‹"; 
	font-size: 50px;
    line-height: 0; 
    }
    #services .slick-next:before,  #brands .slick-next:before { 
	content: "›";
	font-size: 50px;
    line-height: 0;
    }
    #services .slick-prev:hover,  #services .slick-next:hover, #brands .slick-prev:hover,  #brands .slick-next:hover{
	background-color: #008ecf;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.12);
    }
    #services .slick-prev{
	right: 0px;
    }
    #services .slick-next {
    left: 0px;
    }
    #services .item span.description {
    padding: 10px 50px;
    }
    #equipment{
        background-color: #fbfbfb;
        padding: 0px 15px;
        margin-top: 56px;
    }
    #equipment .panel-group{
        margin-top: 30px;
        padding: 0px;
    }
    #equipment .panel-title a{
        color: #7d7d7d;
        font-size: 22px;
    }
     #equipment .panel-default>.panel-heading{
        padding: 22px 18px;
        background-color: #ffffff;
        border: solid 1px #eeeeee;
        background-image: none;
    }
     #equipment .panel-group .panel{
        border-radius: 0px;
    }
    #equipment .panel-title a:focus,  #equipment .panel-title a:hover{
        color: #000000;
        text-decoration: none;
    }
    #equipment span.name{
        font-size: 22px;
    }
    #equipment .panel-default>.panel-heading+.panel-collapse>.panel-body{
        border-top: 0px;
    }
    #equipment .img img{
       margin: 0px auto;
       text-align: center;
    }
    #advantages{
        padding: 0px 15px; 
        height: 730px;
    }
    #advantages .container{
        padding-top: 40px;
    }
    #advantages .anonce{
        text-align: left;
    }
    #advantages .anonce ul{
        padding: 10px 15px;
    }
    #advantages .price{
        margin-top: 0px;
    }
    #portfolio span.h1{
        margin: 0 15px;
    }
    #portfolio hr.h1 {
    margin: 0px auto;
    }
    #portfolio .slick-slide span.name{
        font-size: 18px;
        line-height: 1;
        padding: 0px 15px;
        margin: 30px 0px 10px 0px;
    }
    #portfolio .slick-slide span{
        font-size: 14px;
        line-height: 1;
        padding: 0px 15px;
    }
    #portfolio .slick-slide img{
        width: 95%;
    }
    #portfolio .slick-prev, #portfolio .slick-next{
        top: 60%;
    }
    #portfolio .slick-prev{
        left: 100px;
    }
    #portfolio .slick-next {
    right: 100px;
    }
    #portfolio .slick-dots{
        display: none!important;
    }
    #brands {
    padding: 0px;
    }
    #brands .cont{
        margin: 45px 0px;
    }
    #brands .item img {
    height: 160px;
    }
    #brands .slick-slide{
        height: auto;
    }
    #brands .slick-prev{
	   right: 100px;
       top: 200px;
    }
    #brands .slick-next {
        left: 100px;
        top: 200px;
    }
    
    #contacts ul, #contacts .social{
       width: 100%;
      float: none;
    }
    #contacts .social{
        text-align: center;
        margin-bottom: 30px;
    }
    #contacts .social span{
        text-align: center;
    }
    #contacts ul li span{
        display: block;
       text-align: center;
       padding: 25px 0px 0px 0px;
    }
    #contacts .adress {
    background: url(svg/location-icon.svg) no-repeat center top;
    }
    #contacts .phone {
    background: url(svg/phone.svg) no-repeat center top;
    }
    #contacts .shedule{
    background: url(svg/time-icon.svg) no-repeat center top;
    }
    #contacts .email {
    background: url(svg/mail-icon.svg) no-repeat center top;
    }
     #contacts .right-part{
        padding:0px;
    }
    #contacts form {
        padding: 15px;
        margin-bottom: 20px;
    }
    #contacts .right-part .title{
        font-size: 22px;
        text-align: center;
    }
    #contacts .right-part .desc{
        font-size: 12px;
        text-align: center;
    }
    #contacts .form-group label{
        display: none;
    }
    #contacts .form-group input, #contacts .form-group textarea{
        margin: 0 auto;
    }
    #contacts .form-control#phone, #contacts .form-control#email{
        width: 95%;
    }
    #contacts button{
        width: 100%;
        margin: 0 auto;
    }
    footer p{
        text-align: center;
        padding: 29px 0px;
    }
}